Repository vespene-io/vespene, pull requests merged in 2018-11, with the labels that each got.

#73 Added documention about Gunicorn port bind issue
  docs/source/setup.rst
Labels: c=docs, p=3

#63 Introduce openSUSE setup.
  setup/0_common.sh
  setup/1_prepare.sh
  setup/2_database.sh
Labels: c=setup, p=2, t=feature

#75 make text areas and inputs selectable in Build -> Output tab (fixes #69)
  vespene/views/forms.py
Labels: c=ui, p=2, t=bug
